<template>
  <div class="header d-flex justify-content-between align-items-center">
    <strong class="ml-4">Hola {{[name, apellido] | nombreApellido }}</strong>
    <button class="mr-4" @click="logOut()">Cerrar sesión</button>
  </div>
</template>

<script>
import userService from '../services/userService'
import router from '../app.router';
export default {
  data() {
    return {
      name: '',
      apellido: ''
    }
  },
  created() {

    userService.getUserByUserName(sessionStorage.getItem('username')).then(user => {

      this.name = user.nombre;
      this.apellido = user.apellido;
    });
  },
  methods: {
    logOut() {

      sessionStorage.removeItem('username');
      router.push('login')
    }
  }
}
</script>

<style>
.header {
  background-color: limegreen;
  height: 50px;
}
</style>
