<template>
  <div>
    <h1>Login</h1>

    <br>

    <div class="container">
      <div class="col-12">
        <label> User</label>
      </div>
      <div class="col-12">
        <input v-model="user">
      </div>
      <div class="col-12">
        <label> Pass</label>
      </div>
      <div class="col-12">
        <input type="password" v-model="pass">
      </div>
      <label class="text-danger" v-if="!userValid">Usuario inválido</label>
      <br/>
      <button v-on:click="logIn">Entrar</button>
    </div>
  </div>
</template>

<script>

import loginService from '../services/loginService';
import router from '../app.router';

export default {
  data() {
    return {
      user: '',
      pass: '',
      userValid: true
    }
  },
  methods: {
    logIn() {

      loginService.login(this.user, this.pass).then(user => {

        sessionStorage.setItem('username', user.usuario);
        router.push('users');
      }).catch(() => {

        this.userValid = false;
      });
    }
  }
};

</script>

<style>
</style>
