<template>
  <div>
    <Header/>
    <h4>Detalle del estudiante</h4>

    <div class="row">
    <strong class="col-3">Nombres</strong>
    <label class="col-9 text-left">{{this.user.nombre}}</label>
    <strong class="col-3">Apellidos</strong>
    <label class="col-9 text-left">{{this.user.apellido}}</label>
    <strong class="col-3">Email</strong>
    <label class="col-9 text-left">{{this.user.email}}</label>
    <strong class="col-3">usuario</strong>
    <label class="col-9 text-left">{{this.user.usuario}}</label>

    <router-link to="/users" class="col-3 ml-5 btn btn-outline-dark">Regresar</router-link>
    </div>
  </div>
</template>

<script>

import userService from '../services/userService';
import Header from './Header';

export default {
  data() {
    return {
      user: {
        nombre: '',
        apellido: '',
        usuario: '',
        email: ''
      }
    }
  },
  components: {
    Header
  },
  created() {

    userService.getUserByUserName(this.$route.params.username).then((res) => {

        this.user = res;
    });
  },
}
</script>

<style>

</style>
