<template>
  <div>
    <Header />
    <h4>
      Listado de estudiantes
    </h4>

    <br>

    <table class="table table-dark">
      <thead>
        <!-- <tr> -->
          <th>
            Nro
          </th>
          <th>
            Nombres
          </th>
          <th>
            Usuario
          </th>
          <th>
            Acción
          </th>
        <!-- </tr> -->
      </thead>
      <tbody>
        <tr v-for="(user, index) in userList" :key="index" v-bind:class="{'bg-info': user.logged }">
          <td>
            {{index + 1}}
          </td>
          <td>
            {{[user.nombre, user.apellido] | nombreApellido}}
          </td>
          <td>
            {{user.usuario}}
          </td>
          <td>
            <!-- <a @click="editUser(user.usuario)">Ver detalle</a> -->
            <router-link :to="`/users/${user.usuario}`">Ver detalles</router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import userService from '../services/userService';
import router from '../app.router';
import Header from './Header';

export default {
  data() {

    return {
      userList: [],
    }
  },
  components: {
    Header
  },
  created() {

    userService.getUsers().then(users => {

      this.userList = users.default;

      this.userList.forEach(user => {

        user.logged = false;

        if (user.usuario == sessionStorage.getItem('username')) {
          user.logged = true;
          return;
        }
      });
    });
  },
  methods: {
    editUser(user) {
      router.push(`users/${user}`);
    }
  }
}
</script>

<style>

</style>
